.flexoffer-state-info li {
  display: none;
}

[data-booking-status="unknown"] #no-recharge-booked-message {
  display: list-item;
}

[data-booking-status="no-recharge-booked"] #no-recharge-booked-message {
  display: list-item;
}

[data-booking-status="schedule-proposed"] #waiting-acceptance-message {
  display: list-item;
}

[data-booking-status="schedule-accepted"] #scheduled-recharge-time-message,
[data-booking-status="schedule-accepted"] #scheduled-recharge-duration-message,
[data-booking-status="schedule-accepted"] #scheduled-recharge-available-energy-message  {
  display: list-item;
}
