#status-dialog .dialog {
  text-align: center;
  width: 35vw;
}

#status-dialog[data-status="idle"] {
  display: none;
}

#status-dialog:not([data-status^="error"]) #error-status {
  display: none;
}

#status-dialog:not([data-status^="stop"]) #stop-recharge-status {
  display: none;
}

#status-dialog:not([data-status^="start"]) #start-recharge-status {
  display: none;
}

#status-dialog:not([data-status="start-sending-booking-req"]) #booking-status {
  display: none;
}

#status-dialog[data-status="start-sending-booking-req"] #start-recharge-status, #status-dialog[data-status^="error"] #start-recharge-status {
  display: none
}

#status-dialog:not([data-status="start-request-sending"]) #sending-request-message {
  display: none;
}

#status-dialog:not([data-status="start-request-sent"]) #request-sent-message-dbg {
  display: none;
}

#status-dialog:not([data-status="start-request-received"]) #request-received-message-dbg {
  display: none;
}

#status-dialog:not([data-status="error-booking-failed"]) #booking-failed-message {
  display: none;
}

#status-dialog:not([data-status="error-not-authorized"]) #not-authorized-message {
   display: none;
}

#status-dialog:not([data-status="error-request-failed"]) #request-failed-message {
   display: none;
}

#status-dialog:not([data-status="stop-request-sending"]) #stop-request-sending-message {
  display: none;
}

#status-dialog:not([data-status="stop-request-sent"]) #stop-request-sent-message-dbg {
  display: none;
}

#status-dialog:not([data-status="error-stop-recharge-failed"]) #stop-recharge-failed-message {
  display: none;
}

#status-dialog progress {
  padding-left: 10%;
  width: 80%;
  padding-right: 10%;
}
