.vertical-container, .horizontal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  padding: .2cm;
}

.vertical-container {
  flex-direction: column;
}

.horizontal-container {
  flex-direction: row;
}

.horizontal-container *, .vertical-container * {
  flex-grow: 1;
}

.hidden {
  display: none;
}

.main-pane:not(.current) {
  display: none;
}


#idle-top-pane {
  height: 10cm
}

#idle-data {
  flex-grow: 3;
}

#idle-pane, #charging-pane, body {
  height: 100vh;
}

#idle-data p {
  margin-left: 10%;
}

#charging-top-pane {
  flex-grow: 4
}

#charging-message {
  text-align: center;
  font-size: 150%;
  flex-grow: 0
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.dialog {
  position: fixed;
  opacity: 1;
  top: 40%;
  left: 30%;
}

#time-series-plot {
  width: 10cm;
  padding: 0;
}

#title * {
  align-self: center;
  text-align: center;
}


.mui-divider {
  flex-grow: 0;
}

h4 {
  font-weight: bold;
  font-size: 150%;
}

#arrowhead-logo {
  width: 3cm;
  heigth: 3cm;
  background-color: blue;
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 1%;
  z-index: 3;
  border-radius: 0.1cm;
}

#logo-image {
  width: 100%;
  height: 100%;
}

#charging-station-down-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.charging-image {
  height: 8cm;
}

.schematic-image {
  width: 35vw;
  align-self: center;
}

#schematic-diagram {
  display: flex;
  align-items: center;
}

#charging-top-pane {
  align-items: center;
}
