@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.vertical-container, .horizontal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  padding: .2cm;
}

.data-pane div, .data-pane li {
  font-size: 2.5vh;
}

.data-pane h3 {
  font-size: 3.3vh;
}

#idle-pane .data-pane div,#idle-pane .data-pane li {
  font-size: 2.2vh;
}

#idle-pane .data-pane h3 {
  font-size: 3vh;
}


[data-metric], .metric {
  font-weight: bold;
}

[data-metric], .metric {
  color: blue;
}

li, #flexoffer-pane div {
  font-size: 0.45cm;
}

.vertical-container {
  flex-direction: column;
}

.horizontal-container {
  flex-direction: row;
  justify-content: space-around;
}

.horizontal-container *, .vertical-container * {
  flex-grow: 1;
}

.hidden {
  display: none;
}

.main-pane:not(.current) {
  display: none;
}


#idle-top-pane {
  height: 10cm
}

#idle-pane, #charging-pane, body {
  height: 100vh;
}

#idle-data p {
  margin-left: 10%;
}

#idle-data {
  align-items: center;
}

#idle-data button {
  flex-grow: 0;
}

#charging-message {
  text-align: center;
  font-size: 150%;
  flex-grow: 0
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.dialog {
  border-radius: 0.2cm;
  position: fixed;
  opacity: 1;
  top: 40%;
  left: 30%;
  z-index: 3;
}

#time-series-plot {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 50vw;
}

#title * {
  align-self: center;
  text-align: center;
}

#title h1 {
  font-size: 5vh;
}

.mui-divider {
  flex-grow: 0;
}

h4 {
  font-weight: bold;
  font-size: 150%;
}

#arrowhead-logo {
  width: 3cm;
  heigth: 3cm;
  background-color: blue;
  position: fixed;
  top: 2%;
  right: 2%;
  padding: 1%;
  z-index: 3;
  border-radius: 0.1cm;
}

#logo-image {
  width: 100%;
  height: 100%;
}

#charging-station-down-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: 0.2cm;
  float:right;
  height:auto;
  overflow: hidden;
  text-align: center;
}

.schematic-image {
  align-self: center;
  border: solid 1px #AAAAAA;
  box-shadow: 0.1cm 0.1cm 5px #AAAAAA;
  max-height: 100%;
  max-width: 100%;
}


#charging-top-pane {
  align-items: center;
}

.recharge-schedule-title {
  font-size: 150%;
  text-align: center;
}

.editor-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

input[data-valid="false"] {
  border-color: red;
}

input[type="datetime-local"] {
 width: 20vw
}

#start-recharge-button {
  background-color: #689F38
}

#recharge-control {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#start-recharge-button {
  flex-grow: 0;
}

#current-date {
font-size: 3vh;
}

#user-id-dialog h1, #user-id-dialog div, #schedule-editor div {
  margin: 0.2cm;
  margin-top: 0.2cm;
  margin-bottom: 0.2cm;
  text-align: center;
}

#user-id-dialog input {
  width: 100%;
  display: block;
  text-align: center;
}

#user-id-dialog input, #schedule-editor input {
  font-weight: bold;
}

#fullscreen-overlay {
  position: fixed;
  top: 0.1cm;
  left: 0.1cm;
  z-index: 3;
}

h1 {
  font-weight: bold;
}

#idle-top-pane {
  max-height: 40vh;
}

#idle-bottom-pane {
  max-height: 35vh;
}

#auto-start-recharge-message {
  margin-top: 0;
  margin-bottom: 0;
}

#flexoffer-pane, #station-status {
  flex-grow: 0;
  align-items: center;
  width: 45vw;
}

#idle-bottom-pane {
  text-align: center;
}

.data-pane {
  text-align: left;
}

.dialog {
  font-size: 2vh;
}

.dialog h2 {
  .font-size 2.3vh;
}

#charging-top-pane {
  flex-grow: 3;
}

.booking-info {
  text-align: center;
}

@keyframes charging-anim {
  0% {
    color: #aaaaaa
  }

  50% {
    color: #dddddd
  }

  100% {
    color: #aaaaaa
  }
}

.charging-image {
  height: 8cm;
  font-size: 8cm !important;
  text-align: center;
  color: grey;
  animation: charging-anim 1s infinite;
}

#start-recharge-button {
  height: auto;
  padding: 0.2cm;
}

#start-recharge-button div {
  font-size: 1.4cm;
  vertical-align: bottom;
}

#start-recharge-button p {
  display: block;
  margin: 0;
}
